* {
    margin: 0;
    padding: 0;
    font-family: 'TTNorms-Regular';
    box-sizing: border-box;
}

@font-face {
    font-family: 'TTNorms-Regular';
    src: url(./assets/fonts/TTNorms-Regular.otf)
}

@font-face {
    font-family: 'TTNorms-Bold';
    src: url(./assets/fonts/TTNorms-Bold.otf)
}

:root {
    --primary-btn: #eb1700;
    --secondary-btn: #ffffff;
    --primary-text-color: rgb(36, 34, 34);
    --secondary-text-color: #ffffff;
    --content-background: rgb(254, 241, 238);
}

.hero {
    max-width: 100%;
    background: #ff4723;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.hero .links {
    grid-column: 1/12;
    display: flex;
    justify-content: flex-end;
}

svg {
    color: #ffffff;
    margin-right: 10px;
}

.links * {
    margin: 0 5px;
    background-color: var(--primary-btn);
    outline: none;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    color: var(--secondary-btn);
    width: 120px;
    height: 42px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
}

.links :first-child {
    background-color: var(--secondary-btn);
    color: var(--primary-text-color);
    height: 42px;
    width: 80px;
}

.hero img {
    width: 200px;
    height: 200px;
}

.logo {
    grid-column: 2/11;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: var(--secondary-text-color);
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.leading {
    grid-column: 1/12;
    font-size: 36px;
    text-align: center;
    color: var(--secondary-text-color);
    font-weight: bolder;
    font-family: 'TTNorms-Bold';
    margin: 20px 0;
}

.delivery {
    grid-column: 1/13;
    min-width: 100%;
    width: 100%;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.delivery * {
    height: 60px;
    background-color: white;
}

.delivery i {
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
}

.delivery :nth-child(1) {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.delivery :nth-child(2) {
    width: 80%;
    outline: none;
    border: none;
    font-size: 20px;
}

.delivery :nth-child(3) {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 50px;
}

.delivery input::placeholder {
    font-size: 15px;
    color: rgb(92, 92, 92);
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 20%;
}


.login-btn {
    grid-column: 1/13;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 90px;
}

.login-btn button {
    width: 100px;
    height: 30px;
    max-width: 300px;
    font-weight: bold;
    font-size: 15px;
    padding: 20px;
    border: none;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.login-btn button i {
    font-size: 20px;
}

#features {
    padding: 20px;
    display: grid;
    grid-column: 1fr;
    margin: 30px 0;
    min-width: 250px;
}

.feature {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.feature-image {
    justify-self: right;
}

.feature-image img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.feature-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.feature-text h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'TTNorms-Bold';
    line-height: 35px;
}

.feature-text p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 1.5px;
}

.feature-text a {
    margin-top: 15px;
    text-decoration: none;
    color: var(--primary-btn);
    font-weight: bolder;
}

.feature-text a i {
    margin-left: 3px;
}

.gallery {
    background-color: var(--content-background);
    padding: 20px;
}

.gallery-item-image img {
    width: 100%;
    min-width: 250px;
    height: 200px;
}

.gallery-item-text * {
    margin-top: 15px
}

.gallery-item-text h2 {
    font-size: 25px;
    font-family: "TTNorms-Bold";
}

.gallery-item-text h4 {
    font-size: 20px;
    font-family: "TTNorms-Bold";
}

.gallery-item-text button {
    background-color: var(--primary-btn);
    color: #ffffff;
    padding: 10px;
    outline: none;
    border: none;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}


.gallery-item-text button:hover {
    cursor: pointer;
    opacity: 0.8;
}


#grocery-banner {
    min-width: 400px;
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(20, 20, 20, .5),
            rgba(20, 20, 20, .5)),
        url(./assets/images/hand-background.avif);
    background-size: 100% 400px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    color: var(--secondary-text-color);
}

#grocery-banner * {
    margin-top: 30px;
    min-width: 200px;
}

#grocery-banner button {
    background-color: var(--primary-btn);
    color: #ffffff;
    padding: 10px;
    outline: none;
    border: none;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

#convenience {
    padding: 20px;
    margin: 30px 0;
}

.convenience-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
}

.convenience-image img {
    min-width: 100%;
}

.convenience-text {
    padding: 20px 10px;
}

.convenience-text h2 {
    margin-top: 10px;
}

.convenience-text p {
    margin-top: 10px;
    font-weight: bold;
}

.convenience-text button {
    margin-top: 30px;
    background-color: var(--primary-btn);
    color: #ffffff;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

#services {
    padding: 20px;
    background-color: var(--content-background);
}

#services h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.services-wrapper {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    justify-content: space-evenly;
    margin-top: 30px;
}

.services-wrapper * {
    margin-left: 10px;
}

.service-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-text * {
    margin-top: 20px;
    text-align: center;
}

.service-text h4 {
    font-size: 25px;
    font-weight: bold;
}

.service-text p {
    font-size: 14px;
    font-weight: bold;
}

.age-warning {
    font-size: 10px;
}

.service-text button {
    margin-top: 30px;
    background-color: var(--primary-btn);
    color: #ffffff;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

.services-wrapper::-webkit-scrollbar {
    background: transparent;
}

#opportunity {
    padding: 20px 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#opportunity .heading {
    margin: 30px 0;
    font-family: 'TTNorms-Bold';
    font-size: 25px;
    text-align: center;
}

#opportunity .opportunity-image-wrapper {
    margin-top: 10px;
    width: 100%;
    /* padding: 0 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#opportunity .opportunity-image-wrapper img {
    width: 90%;
}

.opportunity-text {
    background-color: var(--content-background);
    padding: 20px;
}

.opportunity-text h2 {
    font-size: 25px;
    margin-top: 20px;
}

.opportunity-text button {
    margin-top: 30px;
    background-color: var(--primary-btn);
    color: #ffffff;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

.opportunity-text p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.business-signup {
    background-color: var(--content-background);
    padding: 20px;
}

.business-service {
    /* text-align: center; */
    margin-top: 30px;
    padding: 10px;
}

.business-service h2 {
    font-size: 25px;
    margin-top: 20px;
}

.business-service p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.business-service img {
    width: 90%;
}

.business-service button {
    margin-top: 30px;
    background-color: var(--primary-btn);
    color: #ffffff;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}