


 /* Cross axis -> vertial axis  -> justify-content
 Main axis -> horizontal axis -> align-items
 align content -> controls the entire flex-items where align-item control a single flex-item
  */


body{
    display: flex;
    min-height: 500px;
    border: 1px solid black;
    gap: 10px;
    flex-wrap: nowrap;
}


div{
    /* flex basis adapts with the screen size rather than min-width that overflows and creates a scroll bar */
    flex-basis: 150px;  
    height: 100px;
    background-color: rgb(11, 31, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-grow: 1;
    /* max-width: 50px; */
}