* {
    margin: 0;
    padding: 0;
    font-family: 'TTNorms-Regular';
    box-sizing: border-box;
}

body {
    position: relative;
}

@font-face {
    font-family: 'TTNorms-Regular';
    src: url(../assets/fonts/TTNorms-Regular.otf)
}

@font-face {
    font-family: 'TTNorms-Bold';
    src: url(../assets/fonts/TTNorms-Bold.otf);
}

:root {
    --primary-btn: #eb1700;
    --secondary-btn: #ffffff;
    --primary-text-color: rgb(36, 34, 34);
    --secondary-text-color: #ffffff;
    --content-background: rgb(254, 241, 238);
}

.hero {
    max-width: 100%;
    background: #ff4723 url(../assets/images/banner.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

nav {
    display: none;
}

.sticky-nav-logo-name {
    display: none;
}

.sticky-nav {
    background-color: rgb(255, 255, 255);
    grid-template-columns: repeat(12, 1fr);
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    flex-wrap: nowrap;
}

.tablet-nav-signup {
    display: none;
}

.sticky-nav svg {
    width: 40px;
    height: 40px;
}

.sticky-nav .nav-logo {
    /* grid-column: 1/7; */
    justify-self: self-start;
    align-self: center;
    font-size: 20px;
    font-family: 'TTNorms-Bold';
    color: var(--primary-btn);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    margin-left: 10px;
}

.sticky-nav .sticky-nav-links {
    grid-column: 8/13;
    justify-self: end;
    align-self: center;
    flex-wrap: nowrap;
}

.sticky-nav .sticky-nav-links :nth-child(2) {
    background-color: #ffffff;
    color: rgb(93, 93, 93);
}

.sticky-nav .sticky-nav-links button {
    height: 40px;
    width: 120px;
    background-color: var(--primary-btn);
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'TTNorms-Bold';
    margin-right: 10px;
    align-self: center;
}

#sticky-nav-login {
    background-color: white;
    color: rgb(93, 93, 93);
}

.hero .links {
    grid-column: 1/12;
    display: flex;
    justify-content: flex-end;
}

svg {
    color: #ffffff;
    margin-right: 10px;
}

.hero .links * {
    margin: 0 5px;
    background-color: var(--primary-btn);
    outline: none;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    color: var(--secondary-btn);
    width: 120px;
    height: 42px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
}

.hero .links :first-child {
    background-color: var(--secondary-btn);
    color: var(--primary-text-color);
    height: 42px;
    width: 80px;
}


.logo {
    grid-column: 2/11;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: var(--secondary-text-color);
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.leading {
    grid-column: 1/12;
    font-size: 36px;
    text-align: center;
    color: var(--secondary-text-color);
    font-weight: bolder;
    font-family: 'TTNorms-Bold';
    margin: 20px 0;
}

.delivery {
    grid-column: 1/13;
    min-width: 300px;
    width: 100%;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 
.delivery * {
    height: 60px;
    background-color: white;
}

.delivery i {
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
}

.search-logo {
    background-color: #2beb00;
    width: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.arrow-wrapper {}


.arrow-wrapper i {
    border-radius: 50%;
    margin-right: 20px;
    /* background-color: rebeccapurple; */

/* .delivery :nth-child(1) {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%; */
/* } */

/* .delivery :nth-child(2) {
    width: 80%;
    max-width: 350px;
    outline: none;
    border: none;
    font-size: 20px;
} */


/* .delivery :nth-child(3) {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    /* background-color: red; 
}*/

/* .delivery input::placeholder {
    font-size: 15px;
    color: rgb(92, 92, 92);
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 20%;
} */

.search-icon {
    background-color: rgb(255, 255, 255);
    width: 70px;
    font-size: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.delivery-input input {
    min-width: 350px;
    border: none;
    outline: none;
    padding-left: 30px
}

.delivery-input input::placeholder {
    font-size: 15px;
}

#delivery-location-icon {
    color: gray;
    display: none;
}

.arrow-container button {
    width: 70%;
    height: 80%;
    border-radius: 50%;
    font-size: 23px;
    border: none;
    background-color: white;
}

.arrow-container {
    background-color: white;
    width: 70px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.delivery-item {
    height: 60px;
}


.login-btn {
    grid-column: 1/13;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 90px;
    align-self: center;
    /* background-color: #eb1700; */
    margin-left: -100px;
}

.login-btn button {
    width: 100px;
    height: 30px;
    max-width: 300px;
    font-weight: bold;
    font-size: 15px;
    padding: 20px;
    border: none;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    justify-self: center;
}

.login-btn button i {
    font-size: 20px;
}

.login-btn .tablet-signin {
    display: none;
}

.login-btn .desktop-signin {
    display: none;
}

#features {
    padding: 20px;
    display: grid;
    grid-column: 1fr;
    margin: 30px 0;
    min-width: 250px;
}

.feature {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.feature-image {
    justify-self: right;
}

.feature-image img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.feature-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.feature-text h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'TTNorms-Bold';
    line-height: 35px;
}

.feature-text p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 1.5px;
}

.feature-text a {
    margin-top: 15px;
    text-decoration: none;
    color: var(--primary-btn);
    font-weight: bolder;
}

.feature-text a i {
    margin-left: 3px;
}

.gallery {
    background-color: var(--content-background);
    padding: 20px;
}

.gallery-item-image :nth-child(2) {
    display: none;
}

.gallery-item-image img {
    width: 100%;
    min-width: 250px;
    height: 200px;
    object-fit: cover;
}

.gallery-item-text * {
    margin-top: 15px
}

.gallery-item-text h2 {
    font-size: 25px;
    font-family: "TTNorms-Bold";
}

.gallery-item-text h4 {
    font-size: 20px;
    font-family: "TTNorms-Bold";
}

.gallery-item-text button {
    background-color: var(--primary-btn);
    color: #ffffff;
    padding: 10px;
    outline: none;
    border: none;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}


.gallery-item-text button:hover {
    cursor: pointer;
    opacity: 0.8;
}


#grocery-banner {
    min-width: 400px;
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(20, 20, 20, .5),
            rgba(20, 20, 20, .8)),
        url(../assets/images/hand-background.avif);
    background-size: 100% 400px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    color: var(--secondary-text-color);
}

#grocery-banner * {
    margin-top: 30px;
    min-width: 200px;
}

#grocery-banner button {
    background-color: var(--primary-btn);
    color: #ffffff;
    padding: 10px;
    outline: none;
    border: none;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

#convenience {
    padding: 20px;
    margin: 30px 0;
}

.convenience-desktop {
    display: none;
}

.convenience-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
}

.convenience-mobile {
    min-width: 100%;
}

.convenience-text {
    padding: 20px 10px;
}

.convenience-text h2 {
    margin-top: 10px;
}

.convenience-text p {
    margin-top: 10px;
    font-weight: bold;
}

.convenience-text button {
    margin-top: 30px;
    background-color: var(--primary-btn);
    color: #ffffff;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

#services {
    padding: 20px;
    background-color: var(--content-background);
}

#services h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.services-wrapper {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    justify-content: space-evenly;
    margin-top: 30px;
    text-align: center;
}

.service-image-desktop {
    display: none;
}

.services-wrapper * {
    margin-left: 10px;
}

.service-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-text * {
    margin-top: 20px;
    text-align: center;
}

.service-text h4 {
    font-size: 25px;
    font-weight: bold;
}

.service-text p {
    font-size: 14px;
    font-weight: bold;
}

.age-warning {
    font-size: 10px;
}

.service-text button {
    margin-top: 30px;
    background-color: var(--primary-btn);
    color: #ffffff;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

.services-wrapper::-webkit-scrollbar {
    background: transparent;
}

#opportunity {
    padding: 20px 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.opportunity-image-desktop {
    display: none;
}

#opportunity .heading {
    margin: 30px 0;
    font-family: 'TTNorms-Bold';
    font-size: 25px;
    text-align: center;
}

#opportunity .opportunity-image-wrapper {
    margin-top: 10px;
    width: 100%;
    /* padding: 0 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#opportunity .opportunity-image-wrapper img {
    width: 90%;
}

.opportunity-text {
    background-color: var(--content-background);
    padding: 20px;
}

.opportunity-text h2 {
    font-size: 25px;
    margin-top: 20px;
}

.opportunity-text button {
    margin-top: 30px;
    background-color: var(--primary-btn);
    color: #ffffff;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

.opportunity-text p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.business-signup {
    background-color: var(--content-background);
    padding: 20px;
}

.business-service {
    /* text-align: center; */
    margin-top: 30px;
    padding: 10px;
}

.business-service h2 {
    font-size: 25px;
    margin-top: 20px;
}

.business-service p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.business-service img {
    width: 90%;
}

.business-service button {
    margin-top: 30px;
    background-color: var(--primary-btn);
    color: #ffffff;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

#franchise {
    padding: 40px;
}

#franchise .heading {
    font-family: 'TTNorms-Bold';
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}

.franchise-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.franchise-content .links {
    border-bottom: 1px rgb(227, 227, 227) solid;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    padding-left: 30px;
    width: 90%;
}

.franchise-content .links a {
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

/* .franchise-content .links .default {
    border-bottom: 3px solid var(--primary-text-color);
} */

.clicked-style {
    border-bottom: 3px solid var(--primary-text-color);
    color: var(--primary-text-color);
}

.franchise-content .links a:hover {
    opacity: 0.7;
    background-color: rgb(241, 241, 241);
    transition: 0.3s;
}

.link-description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.link-description ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    padding: 10px;
}

.link-description ul li {
    list-style: none;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
}

.link-description ul li:hover {
    text-decoration: underline;
    cursor: pointer
}

footer {
    background-color: #191919ff;
    color: var(--secondary-text-color);
    padding: 20px;
}

.popular-categories .heading {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 30px;
}

footer .popular-categories ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    margin-top: 30px;
    overflow-x: hidden;
}

footer li {
    list-style: none;
    font-size: 15px;
    color: rgb(182, 182, 182);
    font-weight: bolder;
}

footer li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.app-btns-container {
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-btns-container svg {
    background-color: rgba(75, 75, 75, 0.5);
    margin-top: 20px;
    border-radius: 10px;
    transform: scale(1.2);
    fill: rgb(161, 161, 161);
    padding: 5px;
}

.app-btns-container svg:hover {
    background-color: rgba(255, 248, 248, 0.5);
}

#utils {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#utils div {
    margin-top: 30px;
    text-align: center;
    padding: 20px;
}

#utils h3 {
    margin-bottom: 20px;
}

#ul div ul {
    margin-top: 20px;
}

#utils div ul li {
    margin-top: 10px;
    font-size: 16px;
}

.social-links {
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links span {
    font-size: 25px;
    margin-left: 30px;
    color: rgba(166, 166, 166, 0.5);
    text-align: center;
}

.social-links span:hover {
    color: white;
    cursor: pointer;
}

.terms {
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    flex-wrap: wrap;
}

.terms a,
.terms p {
    color: rgb(182, 182, 182);
    text-decoration: none;
}

select {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    padding: 5px;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
}

.top-cities-list-toggle-container {
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}


.top-cities-list-toggle-container span {
    text-align: center;
    font-size: 23px;
    font-family: 'TTNorms-Bold';
}

.top-cities-list-toggle-container button {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.top-cities-list-toggle-container button:hover {
    background-color: rgb(196, 196, 196);
}